body{
    font-size: 2em;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(230, 234, 232);
    font-family: monospace;
    background-color: rgb(17, 17, 17);
}


a {
    color: slategrey;
    text-decoration: none;
}

th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
    flex: 1;
}

td {
    padding: 12px 15px;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-bottom: none;
}

label, legend {
    display: block;
    margin: 0.25vh;
}

._dash-loading-callback {
    display: none;
}

#react-entry-point {
    display: flex;
    width: 99%;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
}

#react-entry-point>div {
    height: 90%;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.2em;
    height: 100%;
}

#controls {
    display: flex;
    border-bottom: 1px solid #e5e6ec;
    padding: 1em;
}

#stats, #widgets {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5em;
}

#stats>div, #widgets>div {
    border: 1px solid #2b2b2b;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    flex-grow: 6;
    padding-bottom: 20px;
    border-radius: 6px;
    padding-left: 2em;
}

#stats>div {
    width: 20%;
}

#widgets>div {
    width: 33%;
    min-height: 25em;
}

.banner {
    height: 3em;
    margin-right: 1em;
}

.app_name {
    color: rgb(30,101,243);
    padding-top: 10px;
    display: inline-block;
}


.symbols {
    float: left;
    width: 100%;
    opacity: 0.75;
}

.single-symbol {
    font-size: 2em;
    color: black;
    margin-right: 2px;
    opacity: 0.75;
}

.nucypher-nickname-icon {
    margin: 3px;
    padding: 3px;
    text-align: center;
    height: 50px;
}

.dot {
  height: 24px;
  width: 24px;
  display: inline-block;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;  /* (height/width + border-width) should equate to an even number */
}


.table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

#node-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.small {
    float: left;
    width: 100%;
    text-shadow: none;
    font-size: 10px;
}

.address, .small-address {
    font-family: monospace;
}

.small-address {
    text-shadow: none;
}



.logo-box {
}

#version {
    width: 100%;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-right: 1em;
}

.stacked-widget {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#prev-locked-graph {
    width: 100%;
}

#prev-locked-stake-graph[data-dash-is-loading] {}

#locked-graph {
    width: 98%;
}

/*#locked-stake-graph {*/
/*    flex-basis: 100%;*/
/*}*/

#prev-stakers-graph {
    width: 100%;
}

#staker-breakdown-graph {
    width: 100%;
}

#state-table {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 8em;
    align-items: center;
}

#state-table > td {
    border-radius: 6px;
    height: 100%;
}


.state {
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 22em;
}

#prev-states {
    width: 100%;
}


.node-row {
    -webkit-font-smoothing: antialiased;
    box-shadow: rgb(229, 229, 229) 0 0 1px;
    border: 1px solid lightslategrey;
    padding-left: 2rem;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    overflow-y: hidden !important;
}

.node-row:hover {
    box-shadow: rgb(0, 101, 229) 0 0 20px;
}

.status-indicator {
    padding-left: 1em !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 6em;
}