[bumpversion]
current_version = 7.0.0-rc.8
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<stage>[^.]*)\.(?P<devnum>\d+))?
serialize = 
	{major}.{minor}.{patch}-{stage}.{devnum}
	{major}.{minor}.{patch}-{stage}
	{major}.{minor}.{patch}

[bumpversion:part:stage]
first_value = dev
values = 
	rc
	dev

[bumpversion:part:devnum]

[bumpversion:file:nucypher/__about__.py]
