tests/
venv/
deploy/
docs/
examples/
newsfragments/
notebooks/
scripts/
.github/
.git/
.coverage/
.tox/
.cache/
.pytest_cache/
**/__pycache__

Makefile
SECURITY.md
README.rst
MANIFEST.in
CODE_OF_CONDUCT.md
CONTRIBUTING.rst
releases.rst

env
.env
*.env
*.env.*
**/*.env

*.toml
*.swp
*.log
*.xml
*.egg
*.png
*.svg
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.lock
*.ini
*.yml
*.cfg

.flake8
.dockerignore
.gitignore
.coveragerc
.DS_Store
