.gitignore
__pycache__
*.pyc
/.venv
/*.egg-info
/build
/.cache
*.so
/MANIFEST
/.tox
/.idea
.coverage
_temp_test_datastore
.mypy_cache
.pytest_cache/
/logs
/registrar.json
/dist
chains
*logs*
*.ipynb*
.ethash
nucypher_cli/examples/examples-runtime-cruft/*
nucypher_cli/examples/finnegans-wake.txt
mypy_reports/
reports/
test-*
*.sqlite3
*ansible/variables.yml
*ansible/*.retry