include CONTRIBUTING.rst
include CODE_OF_CONDUCT.md
include LICENSE
include README.md
include SECURITY.md

include pyproject.toml
include dev-requirements.txt
include requirements.txt
include releases.rst

exclude .bumpversion.cfg
exclude .coveragerc
exclude .dockerignore
exclude .flake8
exclude .pre-commit-config.yaml
exclude codecov.yml
exclude *.lock
exclude *.png
exclude Makefile
exclude mypy.ini
exclude pytest.ini

prune tests
prune scripts/dev
prune newsfragments
prune deploy
prune examples

global-exclude __pycache__
global-exclude *.py[cod]

recursive-include nucypher/blockchain/eth/contract_registry *.json
recursive-include nucypher/policy/conditions *.json
recursive-include nucypher/network/templates *.html *.mako
recursive-exclude nucypher/utilities/templates *.html *.mako
recursive-include nucypher/acumen *.json
