[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
nucypher-core = "==0.13.0"
# Cryptography
cryptography = ">=3.2"
mnemonic = "*"
pynacl = ">=1.4.0"
pyopenssl = "*"
# Ethereum
eth-tester = "<0.10.0,>0.9.0"  # web3[tester]
eth-account = "<0.9,>=0.8.0"
eth-utils = "*"
web3 = ">=6.0.0"
# Web
flask = "*"
hendrix = ">=4.0"
requests = "*"
mako = "*"
# CLI
click = ">=7.0"
colorama = "*"
tabulate = "*"
# Serialization
bytestring-splitter = ">=2.4.0"
marshmallow = "*"
msgpack = "*"
# Utilities
aiohttp = "*"
appdirs = "*"
constant-sorrow = ">=0.1.0a9"
maya = "*"
pendulum = ">=3.0.0b1"
setuptools = "*"  # for distutils
urllib3 = "<2,>=1.26.16"  # eth-ape


[dev-packages]
# Pytest
pytest = "<7"  # See https://github.com/pytest-dev/pytest/issues/9703
pytest-cov = "*"
pytest-mock = "*"
pytest-timeout = "*"
pytest-twisted = "*"
# Tools
ape-solidity = ">=0.6.5"
coverage = ">=7.3.2"
eth-ape = ">=0.6.23"
pre-commit = ">=2.12.1"

[scripts]
nucypher = "python3 nucypher/cli/main.py"

[pipenv]
allow_prereleases = true
