#main{
  margin-top:4em;
}
.list-group-item{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.buttons .btn{
    margin:3px;
}

.needscommand{
  display:none;
}

.needscharacter{
  display:none;
}

.onlyifnopassword {
    visibility:hidden;
}
.onlyifnopassword.nopassword {
    visibility:visible;
}
.onlyifpassword.nopassword {
    visibility:hidden;
}

.statusbar{
    position:fixed !important;
    top:1px;
    left:2px;
}

.status{
    visibility: hidden;
}

.status.bad.error{
    visibility:visible;
    color: red;
    height:unset;
}
.status.good.ready{
    visibility:visible;
    color: green;
}









/* TVision follows */
html {
    background: #a5a4ce;
    font-family: System, monospace;
    font-size: 10pt
  }

  body {
      padding: 0;
      margin: 0;
      overflow-x: hidden;
  }

  .window {
    position: relative;
    cursor: default;
    margin: 2em auto; width: 80%;
    background: #3465a4; color: white;
    border: 6px double white;
    padding: 1em;
    box-shadow:
      0   0   0   3px #3465a4,
      1em 1em 3px 0 rgba(0,0,0,.5);
    max-width: 640px;
  }

  .window.error {
      background: red;
      box-shadow:
          0   0   0   3px red,
          1em 1em 3px 0 rgba(0,0,0,.5);
      display: none;
  }

  .window.white {
    background: silver;
    color: black;
    border-color: white;
    box-shadow:
      0   0   0   3px silver,
      1em 1em 3px 0 rgba(0,0,0,.5);
  }

  .window.half-width {
    width: 50%;
  }

  .window :link {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
  }

  .window :link:hover {
    text-decoration: underline;
  }

  .window h1 {
    text-align: center;
  }


  .window.blue p {
    /*color: white; text-shadow: 0 0 2px white;*/
  }

  button {
    margin:0;padding:0;border:none;
    cursor: pointer;
  }

  button,
  .button,
  .button:link {
    display: inline-block;
    font-weight: bolder;
    color: white;
    font-family: inherit;
    font-size: inherit;
    background: green;
    padding: 0 1em;
    box-shadow: .5em .5em 3px rgba(0,0,0,.5);
    position: relative;
    transition: .2s all ease-in;
    border: 1px outset green;
  }

  button.full-width,
  .button.full-width {
      display: block;
      text-align: center;
  }

  button:before,
  .button:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    /*background: rgba(255,255,0,.5); /* DEBUG CLICK AREA */
  }

  button:hover,
  .button:active,
  .button:focus,
  .button:hover
  {
    transform: translate3d(.25em,.25em,10em);
    box-shadow: 0 0 0 rgba(0,0,0,.5);
    background: limegreen;
  }

  button:hover:before,
  .button:hover:before,
  button:focus:before,
  .button:focus:before
  {
    top: -1em;
    left: -1em;
  }

  .button.pressed {
      box-shadow: none;
      left: 0.25em;
      top: 0.25em;
      margin-right: 0.25em;
      background: gray;
      border: 1px outset #707070;
  }

  button:first-letter,
  .button:first-letter {
    color: yellow;
  }

  input, textarea {
    background: blue;
    color: aqua;
    width: 100%;
    max-width: 100%;
    font-size: 12pt;
    margin-top:.2em;
  }

  input:disabled {
    background: #505070;
    color: #d0d0d0;
    border: 2px solid #505070;
  }

  input[type=radio],
  input[type=checkbox] {
    display: none;
  }

  input[type=radio] + label[for]:before,
  input[type=checkbox] + label[for]:before {
    text-align:center;
    display: inline-block;
    height: 1em; width: 2em;
  }

  input[type=radio] + label[for]:before {
    content: "( ) ";
    cursor: pointer;
  }

  input[type=checkbox] + label[for]:before {
    content: "[ ] ";
    cursor: pointer;
  }

  input[type=radio]:checked + label[for]:before {
    content: "(•) ";
    cursor: pointer;
  }

  input[type=checkbox]:checked + label[for]:before {
    content: "[X] ";
    cursor: pointer;
  }

  .window > textarea {
    width: 100%;
    border: none;
  }


  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu-bar {
    background: silver;
    font-weight: bolder;
    text-align: center;
    left: 0; right: 0;
    position:fixed;
    z-index:9999;
  }

  .menu-bar.top{
  top: 0;
  margin-bottom:1em;
  }

  .menu-bar.bottom{
    bottom:0;
  }


  .menu-bar.nopassword a{
    color: #c0c0c0 !important;
  }

  .menu-bar a {
    margin: 0 2em;
    text-decoration: none;
    color: black;
    padding: 0 1em;
  }

  .menu-bar a:visited {
      color: black;
  }

  .menu-bar a:hover {
      background-color: blue;
      color: white;
  }

  .menu-bar a.selected {
      background-color: #505050;
      color: #c0c0c0;
  }

  strong:before, strong:after { content: "*"; }
  i:before, i:after { content: "/"; }

  div.info table {
      width: 100%;
  }

  div.info table td {
      vertical-align: top;
  }

  #lp-info-container {
      display: none;
  }
