<!DOCTYPE html>
<html>
    <head>
        {%metas%}
        <title>{%title%}</title>
        {%favicon%}
        {%css%}
    </head>
    <body>
        {%app_entry%}

        <script>
            window.onload = function () {
                const ws_port = $ws_port;
                const ws_hostname = '$ws_host';
                const socket = new WebSocket("wss://"+ ws_hostname + ":" + ws_port);
                socket.binaryType = "arraybuffer";

                socket.onopen = function () {
                    socket.send(JSON.stringify({'hx_subscribe': 'states'}));
                    socket.send(JSON.stringify({'hx_subscribe': 'nodes'}));
                    isopen = true;
                };

                socket.addEventListener('message', function (event) {
                    // console.log("Message from server ", event.data);
                    var message = JSON.parse(event.data);
                    var topic = message[0];
                    if (topic === "states") {
                        var hidden_state_button = document.getElementById("hidden-state-button");
                        // prevent race condition onload and DOM element potentially not being created as yet
                        if( hidden_state_button != null ) {
                            hidden_state_button.click(); // Update states
                        }
                    } else if (topic === "nodes") {
                        var hidden_node_button = document.getElementById("hidden-node-button");
                        // prevent race condition onload and DOM element potentially not being created as yet
                        if( hidden_node_button != null ) {
                            hidden_node_button.click(); // Update nodes
                        }
                    }
                });

                socket.onerror = function (error) {
                    console.log(error.data);
                }
            }
        </script>
        <footer>
            {%config%}
            {%scripts%}
            {%renderer%}
        </footer>
    </body>
</html>
