body{
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Arial,sans-serif;
    color: #222;
}

.banner {
    height: 150px;
    margin: 0px -10px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.app_name H2{
    color: rgb(30,101,243);
    padding-top: 10px;
    display: inline-block;
}

.app_name P {
    font-style: italic;
}

.app_name Img{
    float: left;
    height: 220px;
    align: top;
}

.banner h2{
    color: rgb(30,101,243);
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    float: left;
    right: 20px;
    height: 150px;
}

.overview Img{
    float: left;
    height: 500px;
}
