<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <link rel="icon" type="image/x-icon" href="https://www.nucypher.com/favicon-32x32.png"/>
</head>

<style type="text/css">
    html {
        font-family: sans-serif;
    }
    table, th, td {
        border: 1px solid black;
    }
    .nucypher-nickname-icon {
        border-width: 10px;
        border-style: solid;
        margin: 3px;
        padding: 3px;
        text-align: center;
        box-shadow: 1px 1px black, -1px -1px black;
        width: 100px;
    }
    .small {
        float:left;
        width: 100%;
        text-shadow: none;
        font-family: sans;
        font-size: 10px;
    }
    .symbols {
        float:left;
        width: 100%;
    }
    .single-symbol {
        font-size: 3em;
        color: black;
        text-shadow: 1px 1px black, -1px -1px black;
    }
    .address, .small-address {
        font-family: monospace;
    }
    .small-address {
        text-shadow: none;
    }
</style>

<div id="this-node">
    <h2>{{ this_node.nickname}}</h2>
    {{ this_node.nickname_icon() }}

    <h3>Fleet State: {{ known_nodes.nickname }}</h3>
    {{ known_nodes.icon() }}
    <ul>
        <li>Updated: {{ known_nodes.updated }}</li>
    </ul>
</div>

<h4>Known Nodes:</h4>
<table>
    <thead>
        <td>Icon</td>
        <td>Nickname / Checksum</td>
        <td>Launched</td>
        <td>Last Seen</td>
    </thead>
    {% for node in known_nodes.values() -%}
        <tr>
            <td>{{ node.nickname_icon() }}</td>
            <td>
                <a href="https://{{ node.rest_url()}}/status">{{ node.nickname }}</a>
                <br/>
                <span class="address">{{ node.checksum_public_address }}</span>
                <br/><span class="small address">{{ node.checksum_public_address }}</span>
            </td>
            <td>{{ node.timestamp }}</td>
            <td>{{ node.last_seen }}</td>
        </tr>
    {%- endfor %}
</table>
</html>