<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="https://www.nucypher.com/favicon-32x32.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">

        {#body {#}
        {#    font-size: 12px;#}
        {#}#}

        #this-node {
            margin-bottom: 0;
            padding: 1rem 2rem;
        }

        .nucypher-nickname-icon {
            margin: 3px;
            padding: 3px;
            text-align: center;
        }


        .symbols {
            float: left;
            width: 100%;
        }

        .single-symbol {
            font-size: 14px;
            color: black;
        }

        #known-nodes {
            line-height: 1em;
        }

        #known-nodes table td {
            vertical-align: middle;
            padding: 0;
        }

        .node_identity_text {
            margin-bottom: 0;
        }

        .big-state-badge {
            width: 12em;
            height: 9em;
            border-top: 2px solid black;
            font-size: 18px;
            text-align: center;
            border-bottom: 2px solid black;
            padding: 0.5em;
            margin: auto;
        }

        .fleet-history {
            margin-top: 0;
            border-top: 1px solid black;
        }

        .breadcrumb > li + li:before {
            color: #ccc;
            content: "< " !important;
            padding: 0 5px;
        }

        .checksum-address {
            font-weight: 900;
        }

        .node-icon {

        }

    </style>

</head>

<body>


<div class="alert alert-danger" role="alert">
  WARNING: Do not use checksum addressees found on this page for any transaction of any kind or the funds will be irreversibly destroyed.
</div>

<main class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">



    <div id="this-node" class="jumbotron text-center">
            <h1 class="display-4">{{ this_node.nickname_icon }}</h1>
            <p class="lead">{{ this_node.nickname }}</p>
            <p class="small text-muted checksum-address">{{ this_node.checksum_public_address }}</p>
            <hr>

            <h4>{% for domain in domains %}{{ domain }} {% endfor %}</h4>

            <div class="big-state-badge">
                <h4>{{ known_nodes.nickname }}</h4>
                {{ known_nodes.icon }}
                <br/>
                <span class="small">{{ known_nodes.updated }}</span>
            </div>



    </div>

    <div id="previous-states">
            <ol class="breadcrumb fleet-history">
                {% for state in previous_states %}
                    <li class="breadcrumb-item active" aria-current="page" about="{{ state.updated }}">
                        <span class="badge">{{ state.icon }} {{ state.nickname }}</span>
                    </li>
                {% endfor %}
            </ol>
    </div>



    <div id="known-nodes" class="container-fluid">

        <h2>Peers</h2>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>

                    <th></th>
                    <th>Identity</th>
                    <th>Last Seen</th>
                    <th>Fleet State</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>

                {% for node in known_nodes -%}

                    <tr>

                        <td class="node-icon">
                            {{ node.nickname_icon }}
                        </td>

                        <td>
                            <p class="node_identity_text"><a href="https://{{ node.rest_url() }}/status">{{ node.nickname }}</a></p>
                            <p class="text-muted node_identity_text small">{{ node.checksum_public_address }}</p>
                        </td>

                        <td>{{ node.timestamp }}</td>

                        <td>
                            <div class="nucypher-nickname-icon" style="border-color:{{ fleet_state_hex_color }};">
                                <div class="small">{{ number_of_nodes }} nodes</div>
                                <div class="symbols">
                                    <span class="single-symbol"
                                          style="color: {{ fleet_state_hex_color }}">{{ short_fleet_state_checksum }}&#xFE0E;</span>
                                </div>
                                <br/>
                            </div>
                        </td>

                        <td style="border-left: 1px solid black; background-color: {{ fleet_state_hex_color }}"></td>


                    </tr>

                {%- endfor %}

                </tbody>
            </table>
        </div>

    </div>

</main>

<!-- Optional JavaScript -->
<script>


</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>