body{
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: #4d525a;
    font-family: gt-america-mono-regular;
    /*background-color: rgb(17, 17, 17);*/
}


a { color: slategrey;
    text-decoration: none;
    font-size: 15px;
}

#react-entry-point {
    display: flex;
    width: 99%;
    height: 99%;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
}

#react-entry-point>div {
    height: 90%;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 1em;
    height: 100%;
}

#controls {
    display: flex;
    border-bottom: 1px solid #e5e6ec;
    padding: 1em;
}

#widgets {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5em;
}

#widgets>div {
    width: 33%;
    border: 1px solid #e5e6ec;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    padding-bottom: 20px;
}

.banner {
    height: 3em;
    margin-right: 1em;
}

.app_name {
    color: rgb(30,101,243);
    padding-top: 10px;
    display: inline-block;
}


.symbols {
    float: left;
    width: 100%;
}

.single-symbol {
    font-size: 20px;
    color: black;
    margin-right: 2px;
}

.nucypher-nickname-icon {
    margin: 3px;
    padding: 3px;
    text-align: center;
    height: 50px;
}

.dot {
  height: 24px;
  width: 24px;
  display: inline-block;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;  /* (height/width + border-width) should equate to an even number */
}

#node-table {
    width: 100%;
}


#node-table.row {
    height: 2em;
}


.small {
    float: left;
    width: 100%;
    text-shadow: none;
    font-size: 10px;
}

.address, .small-address {
    font-family: monospace;
}

.small-address {
    text-shadow: none;
}

.state {
    float:left;
    text-align: center;
}

.logo-box {
}

#version {
    width: 100%;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-right: 1em;
}

.stacked-widget {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


#graph {
    width: 100%;
}

#locked-graph {
    width: 100%;
}

#prev-states {
    width: 100% !important;
}

#schedule {
    width: 66% !important;
    flex-grow: 2;
    padding-left: 2em;
}

#llamas-graph {
    width: 100%
}

.status-indicator {
    padding-left: 1em !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 6em;
}