[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
sphinx = "==3.0.1"
docutils = "<0.18.0"
sphinx_rtd_theme = "*"
towncrier = "*"
jinja2 = "<3.1.0"
charset-normalizer= "==2.1.1"
