[Unit]
Description="Geth Miner Service"

[Service]
User=root
Type=simple
ExecStart=/usr/bin/geth --datadir {{ datadir }}          \
                        --networkid {{ networkid }}      \
                        --port 30303                     \
                        --syncmode {{ syncmode }}        \
                        --rpc                            \
                        --rpcaddr 'localhost'            \
                        --rpcapi "db,eth,net,web3"       \
                        --mine                           \
                        --minerthreads 1                 \
                        --ethstats {{ nickname }}:{{ eth_netstats_secret }}@{{ eth_netstats_ip }}:{{ eth_netstats_port }} \
                        --bootnodes {{ bootnode_uri }}   \
                        --etherbase {{ etherbase }}      \
                        --verbosity 6                    \

[Install]
WantedBy=multi-user.target
