[Unit]
Description="Geth Miner Service"

[Service]
User=root
Type=simple
ExecStart=/usr/bin/geth --datadir {{ datadir }}          \
                        --networkid {{ networkid }}      \
                        --port 30303                     \
                        --syncmode {{ syncmode }}        \
                        --rpc                            \
                        --rpcaddr "{{ rpchost }}"        \
                        --rpcapi "eth,net,web3,miner,debug,personal,rpc,admin"       \
                        --rpccorsdomain "*"              \
                        --mine                           \
                        --minerthreads 1                 \
                        --ethstats {{ nickname }}:{{ eth_netstats_secret }}@{{ eth_netstats_ip }}:{{ eth_netstats_port }} \
                        --bootnodes {{ bootnode_uri }}   \
                        --verbosity 8                    \

[Install]
WantedBy=multi-user.target
