[Unit]
Description="Run 'Moe', A NuCypher Network Monitor."

[Service]
User=ubuntu
Type=simple
ExecStart={{ virtualenv_path }}/bin/nucypher moe --network {{ nucypher_network_domain }} --teacher {{ teacher_uri }}

[Install]
WantedBy=multi-user.target
