[Unit]
Description="Run 'Ursula', a NuCypher Staking Node."

[Service]
User=ubuntu
Type=simple
Environment="NUCYPHER_KEYRING_PASSPHRASE={{ursula_passphrase.stdout}}"
ExecStart={{env_dir.stdout}}/bin/nucypher ursula run --teacher-uri {{ seed_node_metadata.checksum_address }}@https://{{ seed_node_metadata.rest_host }}:{{seed_node_metadata.rest_port}}

[Install]
WantedBy=multi-user.target
